body {
    background-color: #f2f2f2;
}

h1 {
    font-weight: bold;
}

.card {
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

button {
    width: 100%;
}

.table button {
    width: auto;
    margin: 2px;
}
